* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 34px 44px rgba(160, 181, 255, 0.28);
    border-radius: 10px;
    width: 790px;
    padding: 70px 50px 50px 50px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}
input {
    all: unset;
    border: 1px solid #CED5EC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 26px 125px 26px 25px;
}
input:focus {
    border: 1px solid #5F82FF;
}
#txt-number {
    all: unset;
    box-sizing: border-box;
    border: 1px solid #CED5EC;
    border-radius: 5px;
    padding: 26px 386px 26px 25px;
}
.container-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}
.container-input {
    display: flex;
    flex-direction: column;
}

h1{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}
h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
span {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 22px;
}

p {
    margin-bottom: 27px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

button {
    all: unset;
    box-sizing: border-box;
    background: #5F82FF;
    border-radius: 5px;
    padding: 45px 200px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
button:hover {
    background: #093DF3;
    box-shadow: 0px 7px 24px rgba(9, 61, 243, 0.3);
}